body {
    margin: 0;
    font-family: "Museo Sans Cyrl", sans-serif;
    color: #333333;
}

a {
    color: #6933DC;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url(../static/fonts/MuseoSansCyrl-500.ttf);
}

@font-face {
    font-family: "Museo Sans Cyrl Bold";
    src: url(../static/fonts/MuseoSansCyrl-700.ttf);
}

.header {
    padding: 42px 0 40px;
    border-bottom: 1px solid #DCDCF3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.big-title {
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    font-size: 54px;
    line-height: 65px;
    color: #333333;
}

.big-title span {
    color: #6933DC;
}

.button {
    padding: 14px 35px;
    background: #6933DC;
    border-radius: 6px;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    transition: .4s; /*плавное затемнение кнопки при hover*/
    border: none;
    cursor: pointer;
    text-decoration: none;
}

a.button {
    display: inline-block; /*для кнопок которые являются ссылками*/
}

.button:hover {
    background: #32098a;
}

.button:disabled {
    background-color: #e2dfe7;
    cursor: not-allowed;
}

.button-transparent {
    background: transparent;
    color: #6933DC;
    border: 1px solid #6933DC;
}

.button-transparent:hover {
    background: #6933DC;
    color: #FFFFFF;
}

.button-transparent:disabled {
    background: transparent;
    color: #e2dfe7;
    border-color: #e2dfe7;
}

.footer {
    text-align: center;
    padding: 40px 0;
    font-size: 13px;
    line-height: 16px;
    color: #DCDCF3;
}

.common-title {
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    font-size: 48px;
    line-height: 58px;
    color: #333333;
}

.common-title span {
    color: #6933DC;
}

.text-link {
    display: flex;
    justify-content: flex-end;
}


.text-link a {
    font-size: 17px;
    line-height: 20px;
    color: #6933DC;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.text-link a:hover {
    text-decoration: underline;
}

.text-link a img {
    margin-left: 13px;
}