.form {
    padding-top: 140px;
    padding-bottom: 123px;
}

.form .container {
    display: flex;
    align-items: flex-end; /* контент выравнивается по нижнему краю*/
    justify-content: space-between;
}

.form-content {
    max-width: 504px;
}

.form-details {
    margin-top: 60px;
    max-width: 485px;
}

.form-agree {
    margin-top: 15px;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
}

.form-agree input {
    top: 2px;
    position: relative;
}

.form-agree input,
.form-agree label {
    cursor: pointer;
}

.form-button {
    margin-top: 60px;
}

.form-group {
    position: relative; /* для позиционирования label*/
    background: #FFFFFF;
    border: 1px solid #C1BBBB;
    padding: 12px 23px 13px 23px;
    width: 485px;
    height: 74px;
    box-sizing: border-box;
    transition: .2s ease all; /*плавное появление полопски слева при фокусе на input*/
}

.form-input {
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    color: #6933DC;
    font-family: "Museo Sans Cyrl Bold", sans-serif;
}

.form-label {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    position: absolute;
    left: 23px;
    top: 26px;
    transition: .2s ease all; /*плавное смещение label вверх при фокусе на input*/
}

.form-input:focus ~ .form-label, /* смещение label при фокусе на input*/
.form-input:not(:focus):valid ~ .form-label { /* смещение label при заполненном input (т.е валидном)*/
    top: 12px;
}

.form-input:valid,
.form-input:focus {
    margin-top: 27px;
    height: auto; /*чтобы не менялась высота поля*/
}

.form-group:focus-within {
    border-left: 5px solid #6933DC;
}

