.result {
    padding-top: 140px;
    padding-bottom: 31px;
    text-align: center;
}

.result .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.result-image {
    position: absolute;
    top: 225px;
    z-index: -1;
}

.result-title {
    max-width: 588px;
    margin-bottom: 60px;
}

.result-score {
    background-image: url("../static/images/result-Image.png");
    background-size: cover;
    background-position: center;
    width: 480px;
    height: 388px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 158px;
    line-height: 190px;
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    color: #FFFFFF;
}

.result-answers {
    margin-top: 80px;
    margin-left: auto;
}